.products {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product {
    padding: 15px;
    border: 1px double crimson;
    margin-bottom: 20px;
}

.product > div {
    padding-bottom: 5px;
}

.product > div > i {
    text-transform: capitalize;
}

.images {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.image {
    width: 150px;
    height: auto;
}

.review {
    padding: 10px;
    border: 1px double crimson;
    margin-top: 10px;
}