.title {
    font-size: 48px;
    text-align: center;
    padding: 50px 0 16px;
}

.btn {
    font-size: 16px;
    background-color: white;
    color: cornflowerblue;
    border: none;
    padding: 12px 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}